asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
cloudinary==1.45.0
decouple==0.0.7
Django==5.2.15
django-cloudinary-storage==0.3.0
django-environ==0.13.0
django-stubs==6.0.6
django-stubs-ext==6.0.6
djangorestframework==3.17.1
idna==3.18
nodeenv==1.10.0
packaging==26.2
pillow==12.2.0
psycopg==3.3.4
psycopg-binary==3.3.4
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0